*/__pycache__/
*/*/__pycache__/
*.pyc
*.pth.tar
*.tar
*.pth
*.cluster.local
*tfevent*
*.pkl
*/tmp/
process_data/data/
!assets/*.png
#!asset/*/*.png
#!asset/*/*/*.png
*.nfs*
*/model/*
*.tsv
*.pbtxt
*.svg
*/test_log.md
*test_log.md
*notes.md
*.pdf
*.csv
*.log
*.json
